/* Stili globali */
* {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    background-color: linen;
    color: coral !important; /* Forza il colore del testo a coral */
    margin: 0;
    padding: 0;
}

/* Stili per link e effetto hover */
a, .links a {
    color: rgb(190, 38, 38) !important; /* Forza il colore dei link a rosso scuro */
    text-align: center;
    display: block;
    margin: 10px;
    padding: 10px;
}

a:hover {
    color: rgb(21, 171, 171) !important; /* Forza il colore del link al passaggio del mouse */
}

/* Stili per h1 */
h1 { 
    text-align: center;
    font-size: 100px;
    padding: 20px;
    margin: 18px;
    color: coral !important; /* Forza il colore del testo a coral */
}

/* Stili per h2 */
h2 {
    text-align: center;
    font-size: 60px;
    padding: 15px 0;
    color: rgb(10, 70, 10); /* Colore verde scuro per h2 */
}

/* Stili per le immagini */
img {
    margin: 10px auto;
    padding: 15px;
    display: block;
}

/* Stili per i div */
div {
    width: 70%; /* Percentuale per una maggiore flessibilità */
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

/* Stili per classi specifiche di descrizioni e link */
.description, .links {
    margin-bottom: 30px;
}

/* Stili per ul e ol */
ul, ol {
    list-style-type: none;
    text-align: center;
}

/* Stili per h3, h2, h4, p */
h3, h2, h4, p {
    text-align: center;
}
